<section id="home-contact" class="home-contact">
  <div class="container-fluid">
    <div class="row">
      <div class="contact-plus pl-4 pt-4"><img  src="assets/images/home/contact-plus.svg" alt="careers image"></div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-11"><h1>Interested?</h1></div>
      <div class="col-11"><a>Contact Us!</a></div>
    </div>
    <div class="row">
      <div class="contact-circle ml-5 pb-4"><img  src="assets/images/home/contact-circle.svg" alt="careers image"></div>
    </div>
  </div>
</section>
