#home-contact{
  background: var(--background-home-contact-background2), var(--background-home-contact-background);
  background-repeat: no-repeat, no-repeat;
  background-size: 70% auto, cover;
  background-position: center right, center center;
  // min-height: 100vh;

  .contact-plus{
    width: 200px;
    img{
      width:100%;
    }
  }

  .contact-circle{
    width: 250px;
    img{
      width:100%;
    }
  }

  h1{
    font-size: 7em;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-medium);
    text-shadow: 0px 0px 7em white;
  }

  a{
    font-family: 'jaf-bernina-sans', 'Varela Round', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4em;
    color: var(--text-medium);
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-medium);
    text-shadow: 0px 0px 4em white;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      -webkit-text-fill-color: var(--color-primary);
    }
  }
}
