<section id="mission-values" class="mission-values">
  <div class="row d-flex align-items-center justify-content-around">
    <div class="col-12 d-flex justify-content-around">
      <div class="col-3 value">
        <div class="value-image mx-auto py-4">
          <img  src="assets/images/mission/temp-image.svg" alt="careers image">
        </div>
        <h4>Interdisciplinarity</h4>
        <p>We believe that behavioral research and machine learning are engaged in a synergistic, interdisciplinary, collaborative relationship which is going to bring incredible societal and scientific value for education, health and well being, when done right. We strive to help this relationship in the particular instance of early cognitive development, but believe that our model can be exported for other areas of behavioral studies.</p>
      </div>
      <div class="col-3 value">
        <div class="value-image mx-auto py-4">
          <img  src="assets/images/mission/temp-image.svg" alt="careers image">
        </div>
        <h4>Open Science</h4>
        <p>We believe in open, transparent, reproducible, and collaborative science both for data and for algorithms, as is demultiplies the spread of scientific knowledge and its impact on real life problems. This is why we open source all of our tools, and build technology to share data or models across researchers in a secure fashion.</p>
      </div>
      <div class="col-3 value">
        <div class="value-image mx-auto py-4">
          <img  src="assets/images/mission/temp-image.svg" alt="careers image">
        </div>
        <h4>Privacy by Design</h4>
        <p>We believe that parents, families, children, communities participating in behavioral studies should be considered as stakeholders of the process of making scientific progress and therefore treated as partners. This is why, while we build tools to increase data collection volume  and depth of analysis through AI, we counterbalance this  by strenghtening privacy protection and empowering participants with control and insight over their own data.</p>
      </div>
    </div>
  </div>
</section>
