<section id="home-products" class="home-products">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="home-product-container col-12 d-flex justify-content-center">
        <div class="home-product col-4 mr-5 p-4 d-flex">
          <div class="product-drawing mx-auto p-4">
            <img  src="assets/images/home/logger.svg" alt="careers image">
          </div>
          <h4 class="text-center">Baby Logger</h4>
          <p>A small, user-friendly, baby-compatible, wearable audio recorder. It has 4 channels, an accelerometer, 24 hours of recording autonomy, stores up to 120h of data and is encrypted. With the logger comes a set of tools to extract and decrypt the data.</p>
          <div class="product-button text-center">
            <button mat-flat-button class="mt-4" [routerLink]="'/logger'" href="#">Learn More</button>
          </div>
        </div>
        <div class="home-product col-4 ml-5 p-4 d-flex">
          <div class="product-drawing mx-auto p-4">
            <img  src="assets/images/home/portal.svg" alt="careers image">
          </div>
          <h4 class="text-center">Researcher Portal</h4>
          <p>A cloud platform for annotating, analyzing and archiving audio data with secure state-of-the-art machine learning tools (signal processing, speech recognition). The data is stored encrypted, the analysis is performed in the cloud itself and can be securely shared and analyzed in situ insuring end-to-end privacy.</p>
          <div class="product-button text-center">
            <button mat-flat-button class="mt-4" [routerLink]="'/portal'" href="#">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
