#home-products{
  background-color: var(--color-quaternary);
  min-height: 100vh;

  .row {
    min-height: 100vh;
  }

  .container-fluid{
    min-height: 100vh;
  }


  .home-product{
    background-color: white;
    box-shadow: var(--box-shadow1);
    max-width: 350px;
    flex-flow: column nowrap;

    .product-drawing{
      width: 60%;
      img{
        width: 100%;
        filter: var(--filter-primary);
      }
    }

    .product-button{
      margin-top: auto;
    }

    button{
      background-color: var(--color-tertiary);
      border-radius: 25px;
      color: var(--text-invert);
      padding: 5px 25px 5px 25px;
    }
  }

}
