<section id="home-about" class="home-about">
  <div class="container-fluid">
    <div class="row">
      <div class="about-info p-4 col-9 mx-auto">
        <div class="pb-4 about-image col-4 mx-auto">
          <img src="assets/images/home/about-brain.png" alt="careers image">
        </div>
        <h5>The Echolalia Project aims to promote data collection, sharing, and analyzing of behavioral data to study language development in infants. The project focuses on creating community-improved, open-source, state-of-the-art Machine Learning tools to securely store, manage, analyze and share daylong audio and related data while respecting the privacy of the families.</h5>
        <h5>The project is mainly based at Ecole Normale Supérieure, Paris with an expanding network of international collaborators and contributors (USA, Europe, Asia). It has been funded by CNRS, INRIA, ANR, MSR, Facebook and Amazon. </h5>
      </div>
    </div>
  </div>
</section>
