<section id="mission-main" class="mission-main">
  <div class="row">
    <div class="col-6">
      <div class="row left-row">
        <div class="col-11 offset-1 d-flex align-items-center justify-content-center">
          <div>
            <div class="row mb-4">
              <div class="col-12">
                <h1>Our Mission</h1>
                <h5>Promote collection and analysis of behavioral data for the purpose of behavioral data in order to: </h5>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-2 d-flex justify-content-center">
                <div class="bullet-image d-flex justify-content-center align-items-center">
                  <img  src="assets/images/mission/temp-image.svg" alt="careers image">
                </div>
              </div>
              <div class="col-10">
                <h5>contribute to fundamental research on cognitive development and functioning</h5>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-2 d-flex justify-content-center">
                <div class="bullet-image d-flex justify-content-center align-items-center">
                  <img  src="assets/images/mission/temp-image.svg" alt="careers image">
                </div>
              </div>
              <div class="col-10">
                <h5>contribute to applied research aimed at solving major societal challenges (well-being, education, health, etc.)</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row left-row">
        <div class="col-11 offset-1 d-flex align-items-center justify-content-center">
          <h5>We help data collection through the building or improvement of secure wearable devices (audio, physiological, images, etc) that enable daylong recording of human interactions and activities in their 'ecological' environments. We help analysis through the development or improvement of annotation software and machine learning algorithms that can be applied at scale in these data. Both sets of technologies are build according to open science and privacy-by-design principles to ensure both maximum reusability, sharability and replicability of the scientific findings and maximum privacy and confidentiality of the participants' data.</h5>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="sticky-wrapper">
        <div class="sticky-sticky">
          <div class="mission-image">
            <img  src="assets/images/mission/researchers.png" alt="three professionals: one doctor, one researcher, and one computer scientist">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
