body {
  font-family: sofia-pro,Open sans,Arial,Helvetica,sans-serif;
  color: #6d7d85;
  font-weight: 200; }

h1, h2, h3, h4, h5, h6 {
  font-family: jaf-bernina-sans,Varela Round,Arial,Helvetica,sans-serif; }

h1, h2 {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  color: #415285; }

h2 {
  padding-bottom: 40px;
  margin-top: 40px; }

p {
  color: #6d7d85; }

code {
  color: #45BAAF; }

#content, html, body {
  height: 98%; }

#left-column {
  position: absolute;
  width: 400px;
  height: 100%;
  overflow: scroll;
  background: #F7F9FE;
  padding: 30px; }
  #left-column .site-logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 16px;
    margin-bottom: calc((30px + 16px)/2); }
    #left-column .site-logo-container #site-logo {
      width: 200px;
      padding-bottom: 10px; }
  #left-column ul {
    padding-left: 0px;
    margin: 0; }
    #left-column ul li {
      list-style: none; }

#right-column {
  scroll-behavior: smooth;
  position: absolute;
  right: 0;
  float: left;
  width: calc(100% - 400px);
  height: 100%;
  overflow: scroll;
  padding: 30px;
  padding-top: 0px; }
  #right-column a {
    color: #2086AB;
    font-weight: 500; }
  #right-column .docs-content {
    max-width: 750px; }
  #right-column .section-divider {
    width: 100%;
    height: 2px;
    margin-top: calc(60px - 16px);
    background: #f7f9fe; }
  #right-column .section-divider-dark {
    width: 100%;
    height: 1px;
    margin-top: calc(60px - 16px);
    background: #e5e5e5; }
  #right-column .subheading {
    padding-top: calc(60px - 16px); }
  #right-column .needs-divider {
    padding-top: calc(60px - 16px); }
  #right-column .section:first-of-type .section-divider-dark {
    display: none; }

#TableOfContents {
  color: #1a202c; }

#TableOfContents ul {
  margin-left: 1rem !important; }

#TableOfContents li.active > a {
  color: #2086AB;
  font-weight: 500; }

#TableOfContents a {
  text-decoration: none;
  padding: .125rem 0;
  color: #415285;
  -webkit-transition: all 50ms ease-in-out;
  transition: all 50ms ease-in-out; }

#TableOfContents a:hover, #TableOfContents a:focus, #TableOfContents a:active {
  color: #4CCCC0; }

#TableOfContents a:visited {
  color: #415285; }

.firstLevel {
  margin-left: -16px;
  margin-right: -30px;
  padding-left: 16px;
  padding-right: 30px; }

.firstBold {
  font-weight: 500; }

.secondLevel {
  padding-left: 16px; }

.footer-space {
  margin-bottom: 60vh; }
