
<app-header></app-header>

<section id="whole-team" class="whole-team">
  <div class="container">
    <div class="row">

      <div class="col-12 title-area">
          <h2 class="title">{{ 'PAGES.TEAM.TITLE' | translate }}</h2>
          <p>{{ 'PAGES.TEAM.SUBTITLE' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="row col-10 mx-auto">

      <div class="gallery-item col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center" *ngFor="let member of members">
        <mat-card class="gallery-card">
            <div class="team-avtar mx-auto">
                <img mat-card-image src="{{ member.IMG.SRC }}" alt="{{ member.IMG.ALT }}">
            </div>

            <mat-card-title>{{ member.NAME }}</mat-card-title>
            <mat-card-subtitle>{{ member.DESCRIPTION }}</mat-card-subtitle>
          <!-- </div> -->
        </mat-card>
      </div>
    </div>
</section>


<app-footer></app-footer>
