#home-hero{
  background: var(--color-primary) var(--background-home-hero-background);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;
  // box-shadow: 0 0 0px rgba(0,0,0,0) !important;
  height: 100vh;

  .row {
    min-height: 100vh;
  }

  .hero-computer{
    img{
        position: absolute;
        right:-40%;
        width: 130%;
        bottom: 0;
      }
  }

  button{
    border-radius: 25px;
    color: var(--color-primary);
    padding: 5px 25px 5px 25px;
  }
}
