<section id="home-hero" class="home-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6 d-flex align-items-center justify-content-center">
        <div class="pl-md-3">
          <h2><span>Secure, web-based tools for all your language research projects</span></h2>
          <h5><span>Custom incognito language loggers, secure cloud storage, and a web app for using AI to process and analyze your language file.</span></h5>
          <div class="home-buttons">
            <button mat-flat-button class="mt-4" [routerLink]="'/contact'" href="#" >Request Quote</button>
          </div>
        </div>
      </div>
      <div class="hero-computer col-6 d-flex align-items-end justify-content-center">
          <img  src="assets/images/home/computer.png" alt="careers image">
      </div>
    </div>
  </div>
</section>
