#home-distribution{
  // min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;

  button{
    background-color: var(--color-tertiary);
    border-radius: 25px;
    color: var(--text-invert);
    padding: 5px 25px 5px 25px;
  }

}
