<section id="home-distribution" class="home-distribution">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 mx-auto">
        <h2>We distribute these components in two ways:</h2>
        <div class="row">
          <div class="col-3"><img  src="assets/images/home/open-source.svg" alt="careers image"></div>
          <div class="col-9">
            <h4>Open source code</h4>
            <p>Both the BabyLogger schematics and code, and the modules of the ResearcherPortal are open source and can be reproduced and modified (MIT open source license, see our GitHub). Contributors are welcome.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3"><img  src="assets/images/home/ready-to-use.svg" alt="careers image"></div>
          <div class="col-9">
            <h4>Ready to use devices and web service</h4>
            <p>We have setup a non-profit (BabyCloud-NP) which distributes at the lowest possible cost, but without putting a non-sustainable burden on the research labs contributing to this project, the BabyCloud components for the non-technical savy behavioral scientist. It helps researchers group order BabyLoggers in order to lower the construction price, gives them access to an on-line version of the ResearcherPortal running on a local GDPR-compliant cloud in Europe, and some customer support.</p>
          </div>
        </div>
        <div class="text-center">
          <button mat-flat-button class="mt-4" [routerLink]="'/home'" href="#home-hero"
            [pageScrollOffset]="80" pageScroll>Our Mission & Values</button>
        </div>
      </div>
    </div>
  </div>
</section>
